{% extends "layout.html" %} {% block head %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/jquery-ui.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/rickshaw.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/d3chart.css')}}"> {% endblock %} {% block content %}

<h2>{{title}}.</h2>

<div id="chart_container">
    <table>
        <tr>
            <td>
                <div id="y_axis"></div>
                <div id="chart"></div>
            </td>
            <td>
                <div id="legend"></div>
            </td>
        </tr>
        <tr>
            <td height="auto">
                <div id="previewMargin"></div>
                <div id="preview"></div>
            </td>
        </tr>
    </table>


</div>


{% endblock %} {% block scripts %}

<script type="text/javascript" src="{{url_for('static', filename='./scripts/d3.v3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='./scripts/rickshaw.js')}}"></script>

<script>
    jQuery.noConflict();
</script>

<script type="text/javascript" src="{{url_for('static', filename='./scripts/jquery-ui.min.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='./scripts/editData.js')}}"></script>

<script type="text/javascript">
    PLOTDATA.plot('{{datas}}');
</script>

{% endblock %}