{% extends "layout.html" %} {% block head %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/jquery-ui.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/rickshaw.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/d3chart.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./content/styles.css')}}" /> {% endblock %} {% block content %}

<h2>{{title}}.</h2>

<form action="" method="post" style="width: 400px">
    <!-- enctype="multipart/form-data" -->
    <input type="file" name="file" style="float: left;" id="file_ctrl" directory multiple />
    <!-- <input type="submit" name="btn_upload" value="uplaod" style="float: right;"> -->
</form>

<div id="filelist">
    <!-- <span class="message"><i> (no files uplaoded.) </i></span> -->
</div>

<div id="chart_container">
    <table>
        <tr>
            <td>
                <div id="y_axis"></div>
                <div id="chart"></div>
            </td>
            <td>
                <div id="legend"></div>
            </td>
        </tr>
        <tr>
            <td height="auto">
                <div id="previewMargin"></div>
                <div id="preview"></div>
            </td>
        </tr>
    </table>

</div>

<script>
    var file_ctrl = document.getElementById("file_ctrl");
    var filelist = document.getElementById("filelist");

    document.addEventListener('DOMContentLoaded', function() {
        file_ctrl.onchange = changeEventHandler;
    }, false);

    function changeEventHandler(event) {
        // You can use “this” to refer to the selected element.
        if (!event.target.value) {
            alert('Please Select One File');
        } else {
            filelist.Items = file_ctrl.files;
        }
    }
</script>

<script type="text/javascript" src="{{url_for('static', filename='./scripts/d3.v3.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='./scripts/rickshaw.js')}}"></script>

<script>
    jQuery.noConflict();
</script>

<script type="text/javascript" src="{{url_for('static', filename='./scripts/jquery-ui.min.js')}}"></script>

<script type="text/javascript" src="{{url_for('static', filename='./scripts/editData.js')}}"></script>

<script type="text/javascript">
    PLOTDATA.plot('{{datas}}');
</script>

{% endblock %}