#chart_container {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

#chart {
    float: left;
}

#legend {
    float: left;
    margin-left: 15px;
}

#offset_form {
    float: left;
    margin: 2em 0 0 15px;
    font-size: 13px;
}

#y_axis {
    float: left;
    width: 40px;
}
